<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{lib/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui.admin/css/style.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>终端管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    管理员管理
    <span class="c-gray en">&gt;</span>
    终端管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新" id="reflashAId"><i
            class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form action="toZdglIndex" method="post">
        <div class="text-c">
            <input type="text" th:value="${searchContent==''?'':searchContent}" name="searchContent" id=""
                   placeholder="输入搜索内容。。。" style="width:250px" class="input-text">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a href="javascript:;" onclick="member_del('','2') "
           class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a
                href="javascript:;" onclick="zdgl_add('添加终端','toZdglAdd','','510')"
                class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加终端</a>
		</span>
        <span class="r">共有数据：<strong th:text="${dataList.size()}"></strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <!--
                                <th width="80" >ID</th>
                -->
                <th width="100">终端名称</th>
                <th width="40">描述</th>
                <th width="90">URL</th>
                <th width="150">创建人</th>
                <th width="130">创建时间</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="plan:${dataList}" th:id="${plan.id}">
                <td><input type="checkbox" th:value="${plan.id}" name="checkboxInp"></td>
                <!--
                                <td th:text="${plan.id}">ID</td>
                -->
                <td th:text="${plan.sname}">终端名称</td>
                <td th:text="${plan.sdescribe}">描述</td>
                <td th:text="${plan.surl}">URL</td>
                <td th:text="${plan.createby}">创建人</td>
                <td th:text="${plan.createtimeStr}">创建时间</td>
                <!--<td class="text-l">操作</td>-->
                <td class="f-14"><a
                        title="编辑" href="javascript:;" onclick="member_edit('编辑','toZdglEdit',this,'','510')"
                        class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <!--<a title="一级图库" href="toPicIndex" onclick=""-->
                    <!--class="ml-5" style="text-decoration:none"> 一级图库 </a>-->
                    <a title="一级图库" th:href="@{'toPicIndex?zdid='+${plan.id}+'&sname='+${plan.sname} }" onclick=""
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe604;</i></a>


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{hui/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{hui/huistatic/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{hui/huistatic/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{hui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [1, "desc"],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable": false, "aTargets": [0, 4]}// 制定列不参与排序
        ],
        "searching": false,
        "info": false
    });

    /*用户-添加*/
    function zdgl_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-查看*/
    function member_show(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }


    /*用户-编辑*/

    function member_edit(title, url, obj, w, h) {
        var id = obj.parentNode.parentNode.id;
        layer_show(title, url + "?id=" + id, w, h);
    }


    /*用户-删除*/
    function member_del(obj, type) {
        var ids = "";
        if (type == '1') {
            ids = obj.parentNode.parentNode.id;
        }
        if (type == '2') {
            var obj = $("input[name='checkboxInp']:checked");
            if (obj.length > 0) {
                for (var i = 0; i < obj.length; i++) {
                    ids += obj[i].value + ",";
                }

            } else {
                alert("请选择记录！");
                return;
            }
            ids = ids.substring(0, ids.length - 1);
        }
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: 'doDelZdgl',
                dataType: 'json',
                data: {ids: ids},
                success: function (data) {
                    var d = eval(data);
                    alert(d.msg);
                    layer.msg('已删除!', {icon: 1, time: 1000});
                    document.getElementById("reflashAId").click();
                }
            });
        });
    }


</script>
</body>
</html>