<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{logo/favicon.ico}"/>
    <link rel="Shortcut Icon" th:href="@{logo/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{hui/lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{hui/lib/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{hui/huistatic/h-ui.admin/css/style.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{hui/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加终端</title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <input type="text" th:value="${dataList[0].id}" style="display: none" name="id"/>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>终端名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${dataList[0].sname}" placeholder="" id="sname"
                       name="sname">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${dataList[0].sdescribe}" placeholder="" id="sdescribe"
                       name="sdescribe">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>URL：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${dataList[0].surl}" placeholder="" id="surl"
                       name="surl">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" onclick="submitForm()" id="submitBtn"
                       value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{hui/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{hui/huistatic/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{hui/huistatic/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{hui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{hui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">

    function submitForm() {

        $("#submitBtn").attr("disabled");
        var formData = new FormData($("#form-member-add")[0]);
        $.ajax({
                type: 'post',
                data: formData,
                url: 'doUpdateZdgl',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    var d = eval(data);
                    alert(d.msg);
                    window.parent.document.getElementById("reflashAId").click();
                    layer_close();
                }
            }
        )

        // $("#form-member-add").submit();
    }


    // $(function () {
    //     $('.skin-minimal input').iCheck({
    //         checkboxClass: 'icheckbox-blue',
    //         radioClass: 'iradio-blue',
    //         increaseArea: '20%'
    //     });
    //
    //     $("#form-member-add").validate({
    //         rules: {
    //             username: {
    //                 required: true,
    //                 minlength: 2,
    //                 maxlength: 16
    //             },
    //             sex: {
    //                 required: true,
    //             },
    //             mobile: {
    //                 required: true,
    //                 isMobile: true,
    //             },
    //             email: {
    //                 required: true,
    //                 email: true,
    //             },
    //             uploadfile: {
    //                 required: true,
    //             },
    //
    //         },
    //         onkeyup: false,
    //         focusCleanup: true,
    //         success: "valid",
    //         submitHandler: function (form) {
    //             //$(form).ajaxSubmit();
    //             var index = parent.layer.getFrameIndex(window.name);
    //             //parent.$('.btn-refresh').click();
    //             parent.layer.close(index);
    //         }
    //     });
    // });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>