<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.previewproject.dao.YwYjtpDao">



    <select id="getYjtpDataByZdid" resultType="com.example.previewproject.entity.YwYjtp">
        select * from yw_yjtp
        <where>
            1=1
            and zdid=#{zdid}
        </where>
    </select>

</mapper>