<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.previewproject.dao.YwZdglDao">

    <select id="getZdidByUrl" resultType="com.example.previewproject.entity.YwZdgl">
        select * from yw_zdgl
        <where>
            1=1
            and surl=#{ipAddress}
        </where>
    </select>

</mapper>