<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pictureproject.dao.TXtUserDao">

    <select id="getUser" resultType="com.example.pictureproject.entity.TXtUser">
        select * from t_xt_user
        <where>
            1=1
            and username=#{username}
            and password=#{password}
        </where>
    </select>


</mapper>